# Server port

PORT=


# Connect to postgreSQL

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=



# Json web token Key

SECRET_KEY=


# Google authorization

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Facebook authorization 

FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=


# Main URL

FRONT_END_URL=


