<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <button
        onclick="window.location.href = 'http://localhost:5000/api/auth/google';"
        type="button"
        class="btn login-with-google-btn"
      >
        Sign in with Google
      </button>

      <button
        onclick="window.location.href = 'http://localhost:5000/api/auth/facebook';"
        type="button"
        class="btn login-with-facebook-btn"
      >
        Sign in with Facebook
      </button>
    </div>
  </body>
</html>
